{{ define "footer" }}


        </div>
        <div class="container ">
            <i class="fa fa-align-center" aria-hidden="true"><a href="#" class="badge badge-primary">@Autor Cristian Valencia</a></i> 
        </div>
       
    </body>
</html>

{{ end }}